#html
  padding: 20px
  margin-bottom: 20px

body
  background: #E7E7E7
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
  margin: 0
  color: #333

a
  &:link, &:visited
    color: #376699
    text-decoration: none
  &:hover
    text-decoration: underline

hr
  &.separator
    margin: 20px 0
    background: #DDD
    height: 5px
    border: 0
    max-width: 600px
  &.thin
    height: 1px



#loading_box
  background: #333
  color: white
  padding: 20px
  position: absolute
  bottom: 0
  margin: 0 auto
  font-size: 20px
  text-align: center
  
.field
  display: inline-block
  vertical-align: top

.clear
  clear: both

.full
  margin-bottom: 1em
.half
  margin-bottom: 0.5em


.step
  padding: 20px
  background: #fff


.red
  color: red

.normal
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
  color: #333

.strong
  font-weight: bold

.infobox
  background: #fea
  padding: 5px
  display: inline-block
  margin: 0.5em 0

.userlogin
  background: #eee
  display: inline-block
  padding: 5px
 
.userinfo
  .labels
    width: 15em

body.min
  background: #f7f7f7


.enclosing
  width: 70%
  padding: 20px
  background: white
  margin: 30px auto
  -moz-box-shadow: 4px 4px 5px RGBA(0, 0, 0, 0.1)
  -webkit-box-shadow: 4px 4px 5px RGBA(0, 0, 0, 0.1)
  box-shadow: 4px 4px 5px RGBA(0, 0, 0, 0.1)


.show_book_min
  max-width: 960px
  margin: 0 auto
  table
    width: 100%
    margin: 0 10px
    font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
    td
      vertical-align: top
      &.info
        padding-left: 20px
  .cover
    width: 180px
  .info
    .desc
      width: 100%
    .textarea_100
      width: 100%

  
  h1
    font-size: 1.5em
    margin: 0 0 1em 0
    text-align: left
    font-weight: bold
  .price
    font-size: 1.5em
    margin-bottom: 1em
    .local
      font-size: 0.7em
    .official
      font-weight: bold
  .desc
    margin-bottom: 1em
  .buy
    margin-bottom: 1em
    .button
      display: inline-block
      padding: 5px
      background: #65C604
      font-size: 1.5em
      min-width: 100px
      text-align: center
      &:link, &:visited
        text-decoration: none
        color: #fff
      &:hover
        background: #E34D00