#book_preview
  min-width: 350px
  width: 100%
  .bar
    position: fixed
    right: 20px
    top: 40px
    width: 30%
    min-width: 100px
  .wrapper
    width: 60% 
    
  .bar
    >.item
      margin-bottom: 1em
      h3
        background: #ddd
        padding: 5px
        font-size: 12px
    .googlelogo, .preview
      img
        vertical-align: middle
    .googlelogo // reducir el tamaño del logo de google y eliminar esto
      img
        height: 20px
        border: 0
    #toc
      >.item
        margin-bottom: 0.25em
    input[type=submit]
      background: #649D00
      color: #fff
      font-size: 14px
      padding: 10px
      border: 0
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      -khtml-border-radius: 5px
      border-radius: 5px
      &:hover
        background: #E17B00
      &:active
        position: relative
        top: 2px
        
  .section
    background: #f7f7f7
    padding: 40px
    margin: 40px auto
    max-width: 600px
    min-width: 250px
    -moz-box-shadow: 4px 4px 5px RGBA(0, 0, 0, 0.1)
    -webkit-box-shadow: 4px 4px 5px RGBA(0, 0, 0, 0.1)
    box-shadow: 4px 4px 5px RGBA(0, 0, 0, 0.1)
    font-size: 12px
    .inner
      margin: -20px   
    &.chapter
      font: 16px Georgia, serif
      line-height: 125%
      text-align: justify
  
  #bookinfo
    width: 100%
    .item
      margin-bottom: 1em
    .cover img
      width: 125px
      margin-right: 10px
    .cover_link
      margin-top: 5px
      text-align: center
    .add_cover
      margin-left: 100px
    .label
      color: #777
    input[type=text], textarea
      font-size: 14px
      width: 100%
      padding: 5px
      color: #333
      border: 1px solid #CCC
      background: #fff
      &.title
        font-size: 16px
        font-weight: bold
      &.author
        font-size: 14px
    table
      font-size: 12px
      td
        vertical-align: top
        &.leftcol
          width: 120px
        &.rightcol
          width: 100%

  #book_contents
    h1, h2, h3, h4, h5, h6
      margin: 0
      line-height: 125%
      margin-bottom: 1em
      padding: 0
      text-align: center
      font-size: 2em
      font-weight: normal
    h2
      font-size: 1.5em
    h3
      font-size: 1.25em
    h4, h5, h6
      font-size: 1em
    .bold
      font-weight: bold
    .italic
      font-style: italic
    .underline
      text-decoration: underline
    .line-through
      text-decoration: line-through
    .sub
      vertical-align: sub
    .super
      vertical-align: super
    p
      margin-bottom: 1em
      &.left
        text-align: left
      &.right
        text-align: right
      &.center
        text-align: center
      &.justify
        text-align: justify
    .illustration img
      width: 100%
    //.foot_ref
    //  vertical-align: super
    //
    //.foot
    //  color: #999
    //  background: #fea
    //  margin-bottom: 1em
  
  