credentials:
  production:
    username:       "asdfsadf"
    password:       "asdfasdf"
    signature:      "asdfasdf"
    application_id: "asdfsadf"
  development:
    username:       "asdfsadf"
    password:       "asdfsadf"
    signature:      "asdfasdf"
    application_id: "asdfasdf"

base_url_mapping:
  paypal:
    production:     "asdfasdf"
    development:    "asdfasdf"
  api:
    production:     "asdfasdf"
    development:    "asdfasdf"